body{
  font-family: 'Raleway', sans-serif;
}
h2, p {
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}
.subtitulo{
  font-size: 0.5em;
}
h3{
  color: magenta;
}
li{
  list-style: none;
}
ul{

}

.centrado{
  position: absolute;
  top:50%;
  left: 50%;
  width: 300px;
  height: 240px;
  margin-left: -150px;
  margin-top: -120px;
  text-align: center;
}
.big{
  font-size: 10em;
  opacity: .3;
}

.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  opacity: .3;
  transform: scale(1);
  transition: all 0.3s;
}

.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
  color: blue;
  opacity: 1;
  transform: scale(1.5);
}
